<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CrossBrowser Test Suite" parallel="none" >
    <test name="ChromeBrowser" verbose="2" preserve-order="true" >
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.lumatest.test.NavigationTest">
            </class>
        </classes>
    </test>

    <test name="FireFoxBrowser" verbose="2" preserve-order="true" >
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.lumatest.test.NavigationTest">
            </class>
        </classes>
    </test>
</suite>